body {
  margin: 0;
  padding: 0;
  font: large 'Times New Roman', Times, serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: 'Courier New', Courier, monospace;
}

.verse {
  text-align: center;
  font-weight: bold;
}

h1, h2, h3{
  font-size: larger;
  text-align: center;
}

.colorBlack{
  color:black;
}